# Importo le librerie necessarie

In [215]:
import pandas as pd

# Caricamento del dataset

In [216]:
df = pd.read_csv("D:/Progetti/Nook_Pets/dataset/animali-rifugi.csv")

# Creazione della colonna "Health"
Creazione della colonna "Health" per indicare se un animale è stato castrato o sterilizzato in base al sesso

In [217]:
df['Health'] = None

# Ricerca nella colonna "Sex" dei valori "Spayed"e "Neutered" e trasferimento nella colonna "Health"

In [218]:
mask = df['Sex'].isin(['Spayed', 'Neutered'])


df.loc[mask, 'Health'] = df.loc[mask, 'Sex']
print(df)

       Kennel ID Animal ID  Animal Name Animal Type Primary Color  \
0         311787   A638068          NaN        BIRD         GREEN
1         337697   A683199          NaN     REPTILE         BROWN
2         295411   A608487      *TAYLOR         CAT          GRAY
3         301869   A621052  *GREAT DANE         CAT          GRAY
4         352315   A710397      *CAMMIE         DOG         BLACK
...          ...       ...          ...         ...           ...
51976     283935   A588967      *STIMPY         CAT          GRAY
51977     306828   A630046          NaN         DOG           TAN
51978     295093   A607767          NaN     REPTILE         BROWN
51979     304616   A626525          LEO         DOG           RED
51980     284777   A590206         LEIA         DOG         BLACK

      Secondary Color       Sex         DOB Intake Date Intake Condition  ...  \
0                 RED   Unknown         NaN  2020-01-01  INJURED  SEVERE  ...
1                 NaN   Unknown         NaN  2022-09-06           NORMAL  ...
2                 NaN    Spayed  2017-05-27  2018-05-27           NORMAL  ...
3                 NaN  Neutered  2016-01-30  2019-01-30        FRACTIOUS  ...
4               BROWN    Female  2022-11-12  2023-11-12           NORMAL  ...
...               ...       ...         ...         ...              ...  ...
51976             NaN      Male  2012-04-21  2017-04-21           NORMAL  ...
51977             NaN    Female  2014-07-17  2019-07-17           NORMAL  ...
51978             NaN    Female  2015-05-17  2018-05-17           NORMAL  ...
51979           WHITE  Neutered  2012-05-17  2019-05-16           NORMAL  ...
51980           WHITE    Spayed  2010-05-13  2017-05-13           NORMAL  ...

      outcome_is_other outcome_is_alive was_outcome_alive  \
0                False            False                 0
1                False             True                 1
2                False             True                 1
3                False             True                 1
4                False             True                 1
...                ...              ...               ...
51976            False             True                 1
51977            False             True                 1
51978            False             True                 1
51979            False             True                 1
51980            False             True                 1

                          Shelter_Name               Address         City  \
0             West Los Angeles Shelter  11361 West Pico Blvd  Los Angeles
1      South LA Shelter (Chesterfield)        1850 W 60th St  Los Angeles
2                  West Valley Shelter      20655 Plummer St   Chatsworth
3             West Los Angeles Shelter  11361 West Pico Blvd  Los Angeles
4      Long Beach Animal Care Services      7700 E Spring St   Long Beach
...                                ...                   ...          ...
51976            North Central Shelter          3201 Lacy St  Los Angeles
51977              West Valley Shelter      20655 Plummer St   Chatsworth
51978  South LA Shelter (Chesterfield)        1850 W 60th St  Los Angeles
51979            North Central Shelter          3201 Lacy St  Los Angeles
51980            North Central Shelter          3201 Lacy St  Los Angeles

      Jurisdiction.1  Latitude  Longitude    Health
0            LA CITY  34.03478 -118.44045      None
1            LA CITY  33.98484 -118.31096      None
2            LA CITY  34.24345 -118.58370    Spayed
3            LA CITY  34.03478 -118.44045  Neutered
4         LONG BEACH  33.81064 -118.09336      None
...              ...       ...        ...       ...
51976        LA CITY  34.08324 -118.21941      None
51977        LA CITY  34.24345 -118.58370      None
51978        LA CITY  33.98484 -118.31096      None
51979        LA CITY  34.08324 -118.21941  Neutered
51980        LA CITY  34.08324 -118.21941    Spayed

[51981 rows x 36 columns]

# Sostituire in Sex i valori "Spayed" e "Neutered" con "Male" e Female in base alla colonna Health

In [219]:
df.loc[df['Health'] == 'Spayed', 'Sex'] = 'Female'
df.loc[df['Health'] == 'Neutered', 'Sex'] = 'Male'

df[['Sex', 'Health']]

           Sex    Health
0      Unknown      None
1      Unknown      None
2       Female    Spayed
3         Male  Neutered
4       Female      None
...        ...       ...
51976     Male      None
51977   Female      None
51978   Female      None
51979     Male  Neutered
51980   Female    Spayed

[51981 rows x 2 columns]

# Controllo delle colonne Sex e Health se ci sono valori Null/None oppure se ci sono ancora valori "Spayed" e "Neutered"

In [220]:
print("\n1. CONTROLLO VALORI MANCANTI (Null/None)")

# Conta i nulli per colonna
null_counts = df[['Sex', 'Health']].isnull().sum()

if null_counts.sum() > 0:
    print(f"Attenzione: Trovati valori Null!\n{null_counts[null_counts > 0]}")

    # Mostra le righe specifiche che hanno valori nulli
    rows_with_null = df[df['Sex'].isnull() | df['Health'].isnull()]
    print("\nRighe con valori Null:")
    print(rows_with_null)
else:
    print("Nessun valore Null trovato nelle colonne Sex e Health.")

# ---------------------------------------------------------
# 3. Controllo valori "Spayed" e "Neutered"
# ---------------------------------------------------------
print("\n2. CONTROLLO VALORI 'Spayed' / 'Neutered'")

bad_values = ['Spayed', 'Neutered']

# Filtra le righe dove Sex O Health contengono quei valori
# Usiamo .isin() per cercare corrispondenze esatte
mask_sex = df['Sex'].isin(bad_values)
mask_health = df['Health'].isin(bad_values)

problematic_rows = df[mask_sex | mask_health]

if not problematic_rows.empty:
    print(f"Attenzione: Trovate {len(problematic_rows)} righe con valori 'Spayed' o 'Neutered':")
    print(problematic_rows)
else:
    print("Ottimo! Nessun valore 'Spayed' o 'Neutered' trovato.")

# ---------------------------------------------------------
# 4. (Opzionale) Visualizzazione rapida dei valori unici
# ---------------------------------------------------------
print("\n### Riepilogo Valori Unici Attuali ###")
print(f"Sex: {df['Sex'].unique()}")
print(f"Health: {df['Health'].unique()}")

1. CONTROLLO VALORI MANCANTI (Null/None)
Attenzione: Trovati valori Null!
Health    33473
dtype: int64

Righe con valori Null:
       Kennel ID Animal ID Animal Name Animal Type Primary Color  \
0         311787   A638068         NaN        BIRD         GREEN
1         337697   A683199         NaN     REPTILE         BROWN
4         352315   A710397     *CAMMIE         DOG         BLACK
5         372996   A738921    KITTEN 1         CAT    TORTIE DIL
6         372993   A738924    KITTEN 4         CAT        CALICO
...          ...       ...         ...         ...           ...
51972     292297   A603006         NaN         DOG           TAN
51975     290622   A599827         NaN         DOG         BROWN
51976     283935   A588967     *STIMPY         CAT          GRAY
51977     306828   A630046         NaN         DOG           TAN
51978     295093   A607767         NaN     REPTILE         BROWN

      Secondary Color      Sex         DOB Intake Date Intake Condition  ...  \
0                 RED  Unknown         NaN  2020-01-01  INJURED  SEVERE  ...
1                 NaN  Unknown         NaN  2022-09-06           NORMAL  ...
4               BROWN   Female  2022-11-12  2023-11-12           NORMAL  ...
5                 NaN   Female  2025-02-03  2025-04-03           NORMAL  ...
6                 NaN   Female  2025-02-03  2025-04-03           NORMAL  ...
...               ...      ...         ...         ...              ...  ...
51972             NaN     Male  2017-03-24  2018-01-24           NORMAL  ...
51975           WHITE   Female  2014-11-08  2017-11-08           NORMAL  ...
51976             NaN     Male  2012-04-21  2017-04-21           NORMAL  ...
51977             NaN   Female  2014-07-17  2019-07-17           NORMAL  ...
51978             NaN   Female  2015-05-17  2018-05-17           NORMAL  ...

      outcome_is_other outcome_is_alive was_outcome_alive  \
0                False            False                 0
1                False             True                 1
4                False             True                 1
5                False             True                 1
6                False             True                 1
...                ...              ...               ...
51972            False             True                 1
51975            False             True                 1
51976            False             True                 1
51977            False             True                 1
51978            False             True                 1

                          Shelter_Name               Address         City  \
0             West Los Angeles Shelter  11361 West Pico Blvd  Los Angeles
1      South LA Shelter (Chesterfield)        1850 W 60th St  Los Angeles
4      Long Beach Animal Care Services      7700 E Spring St   Long Beach
5      Long Beach Animal Care Services      7700 E Spring St   Long Beach
6      Long Beach Animal Care Services      7700 E Spring St   Long Beach
...                                ...                   ...          ...
51972  Long Beach Animal Care Services      7700 E Spring St   Long Beach
51975  South LA Shelter (Chesterfield)        1850 W 60th St  Los Angeles
51976            North Central Shelter          3201 Lacy St  Los Angeles
51977              West Valley Shelter      20655 Plummer St   Chatsworth
51978  South LA Shelter (Chesterfield)        1850 W 60th St  Los Angeles

      Jurisdiction.1  Latitude  Longitude  Health
0            LA CITY  34.03478 -118.44045    None
1            LA CITY  33.98484 -118.31096    None
4         LONG BEACH  33.81064 -118.09336    None
5         LONG BEACH  33.81064 -118.09336    None
6         LONG BEACH  33.81064 -118.09336    None
...              ...       ...        ...     ...
51972     LONG BEACH  33.81064 -118.09336    None
51975        LA CITY  33.98484 -118.31096    None
51976        LA CITY  34.08324 -118.21941    None
51977        LA CITY  34.24345 -118.58370    None
51978        LA CITY  33.98484 -118.31096    None

[33473 rows x 36 columns]

2. CONTROLLO VALORI 'Spayed' / 'Neutered'
Attenzione: Trovate 18508 righe con valori 'Spayed' o 'Neutered':
       Kennel ID Animal ID  Animal Name Animal Type Primary Color  \
2         295411   A608487      *TAYLOR         CAT          GRAY
3         301869   A621052  *GREAT DANE         CAT          GRAY
7         371092   A737258        *BLUE         CAT          GRAY
9         298910   A614893         PEPE         DOG        BLONDE
10        357444   A721307  *PEPPERMINT         CAT     BRN TABBY
...          ...       ...          ...         ...           ...
51971     300138   A582753       DAKOTA         DOG          GOLD
51973     303231   A624204       DEXTER         DOG           TAN
51974     331517   A647227         COCO         DOG         WHITE
51979     304616   A626525          LEO         DOG           RED
51980     284777   A590206         LEIA         DOG         BLACK

      Secondary Color     Sex         DOB Intake Date Intake Condition  ...  \
2                 NaN  Female  2017-05-27  2018-05-27           NORMAL  ...
3                 NaN    Male  2016-01-30  2019-01-30        FRACTIOUS  ...
7                 NaN    Male  2018-02-25  2025-02-23           NORMAL  ...
9                 NaN    Male  2017-01-01  2018-09-19        FRACTIOUS  ...
10                NaN    Male  2024-03-20  2024-05-22           NORMAL  ...
...               ...     ...         ...         ...              ...  ...
51971             NaN  Female  2007-10-24  2018-11-04         ILL MILD  ...
51973           WHITE    Male  2006-04-03  2019-04-03           NORMAL  ...
51974             NaN    Male  2019-08-15  2022-01-28           NORMAL  ...
51979           WHITE    Male  2012-05-17  2019-05-16           NORMAL  ...
51980           WHITE  Female  2010-05-13  2017-05-13           NORMAL  ...

      outcome_is_other outcome_is_alive was_outcome_alive  \
2                False             True                 1
3                False             True                 1
7                False             True                 1
9                False             True                 1
10               False             True                 1
...                ...              ...               ...
51971            False             True                 1
51973            False             True                 1
51974            False             True                 1
51979            False             True                 1
51980            False             True                 1

                   Shelter_Name               Address         City  \
2           West Valley Shelter      20655 Plummer St   Chatsworth
3      West Los Angeles Shelter  11361 West Pico Blvd  Los Angeles
7           West Valley Shelter      20655 Plummer St   Chatsworth
9                Harbor Shelter       957 N Gaffey St    San Pedro
10          West Valley Shelter      20655 Plummer St   Chatsworth
...                         ...                   ...          ...
51971     North Central Shelter          3201 Lacy St  Los Angeles
51973  West Los Angeles Shelter  11361 West Pico Blvd  Los Angeles
51974       East Valley Shelter      14409 Vanowen St     Van Nuys
51979     North Central Shelter          3201 Lacy St  Los Angeles
51980     North Central Shelter          3201 Lacy St  Los Angeles

      Jurisdiction.1  Latitude  Longitude    Health
2            LA CITY  34.24345 -118.58370    Spayed
3            LA CITY  34.03478 -118.44045  Neutered
7            LA CITY  34.24345 -118.58370  Neutered
9            LA CITY  33.75201 -118.29396  Neutered
10           LA CITY  34.24345 -118.58370  Neutered
...              ...       ...        ...       ...
51971        LA CITY  34.08324 -118.21941    Spayed
51973        LA CITY  34.03478 -118.44045  Neutered
51974        LA CITY  34.19443 -118.44607  Neutered
51979        LA CITY  34.08324 -118.21941  Neutered
51980        LA CITY  34.08324 -118.21941    Spayed

[18508 rows x 36 columns]

### Riepilogo Valori Unici Attuali ###
Sex: ['Unknown' 'Female' 'Male']
Health: [None 'Spayed' 'Neutered']

# Verifica ulteriore dei valori per le colonne Sex e Health
Questo snippet di codice effettua i seguenti controlli:
1) Se nella colonna sex dell'animale è presente come valore "Female" e nella colonna Health il valore è pari None, sostituire quel valore con "Stayed".
2) Se nella colonna sex dell'animale è presente come valore "Male" e nella colonna Health il valore è pari None, sostituire quel valore con "Neutered",

In [221]:
print("STAMPA DEL DATASET PRIMA DELLA MODIFICA")
print(df)
print("-" * 30)

# ---------------------------------------------------
# 2. Applicazione della logica
# ---------------------------------------------------

# REGOLA 1: Se Sex è 'Female' E Health è Null -> Sostituisci con 'Spayed'
# Condizione: (Colonna Sex == Female) AND (Colonna Health è nulla)
condition_female = (df['Sex'] == 'Female') & (df['Health'].isnull())
df.loc[condition_female, 'Health'] = 'Spayed'

# REGOLA 2: Se Sex è 'Male' E Health è Null -> Sostituisci con 'Neutered'
# Condizione: (Colonna Sex == Male) AND (Colonna Health è nulla)
condition_male = (df['Sex'] == 'Male') & (df['Health'].isnull())
df.loc[condition_male, 'Health'] = 'Neutered'

# ---------------------------------------------------
# 3. Risultato
# ---------------------------------------------------
print("\nSTAMPA DEL DATASET DOPO LA MODIFICA")
print(df)

STAMPA DEL DATASET PRIMA DELLA MODIFICA
       Kennel ID Animal ID  Animal Name Animal Type Primary Color  \
0         311787   A638068          NaN        BIRD         GREEN
1         337697   A683199          NaN     REPTILE         BROWN
2         295411   A608487      *TAYLOR         CAT          GRAY
3         301869   A621052  *GREAT DANE         CAT          GRAY
4         352315   A710397      *CAMMIE         DOG         BLACK
...          ...       ...          ...         ...           ...
51976     283935   A588967      *STIMPY         CAT          GRAY
51977     306828   A630046          NaN         DOG           TAN
51978     295093   A607767          NaN     REPTILE         BROWN
51979     304616   A626525          LEO         DOG           RED
51980     284777   A590206         LEIA         DOG         BLACK

      Secondary Color      Sex         DOB Intake Date Intake Condition  ...  \
0                 RED  Unknown         NaN  2020-01-01  INJURED  SEVERE  ...
1                 NaN  Unknown         NaN  2022-09-06           NORMAL  ...
2                 NaN   Female  2017-05-27  2018-05-27           NORMAL  ...
3                 NaN     Male  2016-01-30  2019-01-30        FRACTIOUS  ...
4               BROWN   Female  2022-11-12  2023-11-12           NORMAL  ...
...               ...      ...         ...         ...              ...  ...
51976             NaN     Male  2012-04-21  2017-04-21           NORMAL  ...
51977             NaN   Female  2014-07-17  2019-07-17           NORMAL  ...
51978             NaN   Female  2015-05-17  2018-05-17           NORMAL  ...
51979           WHITE     Male  2012-05-17  2019-05-16           NORMAL  ...
51980           WHITE   Female  2010-05-13  2017-05-13           NORMAL  ...

      outcome_is_other outcome_is_alive was_outcome_alive  \
0                False            False                 0
1                False             True                 1
2                False             True                 1
3                False             True                 1
4                False             True                 1
...                ...              ...               ...
51976            False             True                 1
51977            False             True                 1
51978            False             True                 1
51979            False             True                 1
51980            False             True                 1

                          Shelter_Name               Address         City  \
0             West Los Angeles Shelter  11361 West Pico Blvd  Los Angeles
1      South LA Shelter (Chesterfield)        1850 W 60th St  Los Angeles
2                  West Valley Shelter      20655 Plummer St   Chatsworth
3             West Los Angeles Shelter  11361 West Pico Blvd  Los Angeles
4      Long Beach Animal Care Services      7700 E Spring St   Long Beach
...                                ...                   ...          ...
51976            North Central Shelter          3201 Lacy St  Los Angeles
51977              West Valley Shelter      20655 Plummer St   Chatsworth
51978  South LA Shelter (Chesterfield)        1850 W 60th St  Los Angeles
51979            North Central Shelter          3201 Lacy St  Los Angeles
51980            North Central Shelter          3201 Lacy St  Los Angeles

      Jurisdiction.1  Latitude  Longitude    Health
0            LA CITY  34.03478 -118.44045      None
1            LA CITY  33.98484 -118.31096      None
2            LA CITY  34.24345 -118.58370    Spayed
3            LA CITY  34.03478 -118.44045  Neutered
4         LONG BEACH  33.81064 -118.09336      None
...              ...       ...        ...       ...
51976        LA CITY  34.08324 -118.21941      None
51977        LA CITY  34.24345 -118.58370      None
51978        LA CITY  33.98484 -118.31096      None
51979        LA CITY  34.08324 -118.21941  Neutered
51980        LA CITY  34.08324 -118.21941    Spayed

[51981 rows x 36 columns]
------------------------------

STAMPA DEL DATASET DOPO LA MODIFICA
       Kennel ID Animal ID  Animal Name Animal Type Primary Color  \
0         311787   A638068          NaN        BIRD         GREEN
1         337697   A683199          NaN     REPTILE         BROWN
2         295411   A608487      *TAYLOR         CAT          GRAY
3         301869   A621052  *GREAT DANE         CAT          GRAY
4         352315   A710397      *CAMMIE         DOG         BLACK
...          ...       ...          ...         ...           ...
51976     283935   A588967      *STIMPY         CAT          GRAY
51977     306828   A630046          NaN         DOG           TAN
51978     295093   A607767          NaN     REPTILE         BROWN
51979     304616   A626525          LEO         DOG           RED
51980     284777   A590206         LEIA         DOG         BLACK

      Secondary Color      Sex         DOB Intake Date Intake Condition  ...  \
0                 RED  Unknown         NaN  2020-01-01  INJURED  SEVERE  ...
1                 NaN  Unknown         NaN  2022-09-06           NORMAL  ...
2                 NaN   Female  2017-05-27  2018-05-27           NORMAL  ...
3                 NaN     Male  2016-01-30  2019-01-30        FRACTIOUS  ...
4               BROWN   Female  2022-11-12  2023-11-12           NORMAL  ...
...               ...      ...         ...         ...              ...  ...
51976             NaN     Male  2012-04-21  2017-04-21           NORMAL  ...
51977             NaN   Female  2014-07-17  2019-07-17           NORMAL  ...
51978             NaN   Female  2015-05-17  2018-05-17           NORMAL  ...
51979           WHITE     Male  2012-05-17  2019-05-16           NORMAL  ...
51980           WHITE   Female  2010-05-13  2017-05-13           NORMAL  ...

      outcome_is_other outcome_is_alive was_outcome_alive  \
0                False            False                 0
1                False             True                 1
2                False             True                 1
3                False             True                 1
4                False             True                 1
...                ...              ...               ...
51976            False             True                 1
51977            False             True                 1
51978            False             True                 1
51979            False             True                 1
51980            False             True                 1

                          Shelter_Name               Address         City  \
0             West Los Angeles Shelter  11361 West Pico Blvd  Los Angeles
1      South LA Shelter (Chesterfield)        1850 W 60th St  Los Angeles
2                  West Valley Shelter      20655 Plummer St   Chatsworth
3             West Los Angeles Shelter  11361 West Pico Blvd  Los Angeles
4      Long Beach Animal Care Services      7700 E Spring St   Long Beach
...                                ...                   ...          ...
51976            North Central Shelter          3201 Lacy St  Los Angeles
51977              West Valley Shelter      20655 Plummer St   Chatsworth
51978  South LA Shelter (Chesterfield)        1850 W 60th St  Los Angeles
51979            North Central Shelter          3201 Lacy St  Los Angeles
51980            North Central Shelter          3201 Lacy St  Los Angeles

      Jurisdiction.1  Latitude  Longitude    Health
0            LA CITY  34.03478 -118.44045      None
1            LA CITY  33.98484 -118.31096      None
2            LA CITY  34.24345 -118.58370    Spayed
3            LA CITY  34.03478 -118.44045  Neutered
4         LONG BEACH  33.81064 -118.09336    Spayed
...              ...       ...        ...       ...
51976        LA CITY  34.08324 -118.21941  Neutered
51977        LA CITY  34.24345 -118.58370    Spayed
51978        LA CITY  33.98484 -118.31096    Spayed
51979        LA CITY  34.08324 -118.21941  Neutered
51980        LA CITY  34.08324 -118.21941    Spayed

[51981 rows x 36 columns]

# Ricontrollo nella colonna Health se sono presenti ancora valori Null/None

In [222]:
print("\n Controllo ulteriore per la colonna 'Health'")

# Filtriamo le righe dove Health è ancora Null
rows_with_nulls = df[df['Health'].isnull()]

if not rows_with_nulls.empty:
    print(f"Attenzione: trovati {len(rows_with_nulls)} valori mancanti.")
    print("Ecco il dettaglio delle colonne interessate:")

    # Selezioniamo SOLO le colonne Sex e Health da visualizzare
    print(rows_with_nulls[['Sex', 'Health']])
else:
    print("Ottimo! Nessun valore Null residuo nella colonna Health.")

 Controllo ulteriore per la colonna 'Health'
Attenzione: trovati 11263 valori mancanti.
Ecco il dettaglio delle colonne interessate:
           Sex Health
0      Unknown   None
1      Unknown   None
8      Unknown   None
12     Unknown   None
20     Unknown   None
...        ...    ...
51924  Unknown   None
51925  Unknown   None
51931  Unknown   None
51939  Unknown   None
51953  Unknown   None

[11263 rows x 2 columns]

# Sostituzione dei valori null nella colonna 'Health' con 'Unknown'

In [223]:
df['Health'] = df['Health'].fillna('Unknown')
print("Valori null sostituiti in 'Health':")
print(df['Health'].unique())

Valori null sostituiti in 'Health':
['Unknown' 'Spayed' 'Neutered']

# Modifiche colonna Animal Type

Sostituzione dei valori NULL con il valore Unknown e rimozione dell'asterisco iniziale in tutti gli altri valori

In [224]:
print("COLONNA 'Animal Name' ORIGINALE")
print(df[['Animal Name']])
print("-" * 30)



df['Animal Name'] = df['Animal Name'].fillna('Unknown')


df['Animal Name'] = df['Animal Name'].str.lstrip('*')


print("\nCOLONNA 'Animal Name' DOPO LE MODIFICHE")
print(df[['Animal Name']])

COLONNA 'Animal Name' ORIGINALE
       Animal Name
0              NaN
1              NaN
2          *TAYLOR
3      *GREAT DANE
4          *CAMMIE
...            ...
51976      *STIMPY
51977          NaN
51978          NaN
51979          LEO
51980         LEIA

[51981 rows x 1 columns]
------------------------------

COLONNA 'Animal Name' DOPO LE MODIFICHE
      Animal Name
0         Unknown
1         Unknown
2          TAYLOR
3      GREAT DANE
4          CAMMIE
...           ...
51976      STIMPY
51977     Unknown
51978     Unknown
51979         LEO
51980        LEIA

[51981 rows x 1 columns]

# Sostituzione dei valori NULL con il valore Unknown nella colonna DOB dato che si tratta di una stringa

In [225]:
print("COLONNA 'DOB' ORIGINALE")
print(df[['DOB']])
print("-" * 30)

df['DOB'] = df['DOB'].fillna('Unknown')

print("\nCOLONNA 'DOB' DOPO LE MODIFICHE")
print(df[['DOB']])

COLONNA 'DOB' ORIGINALE
              DOB
0             NaN
1             NaN
2      2017-05-27
3      2016-01-30
4      2022-11-12
...           ...
51976  2012-04-21
51977  2014-07-17
51978  2015-05-17
51979  2012-05-17
51980  2010-05-13

[51981 rows x 1 columns]
------------------------------

COLONNA 'DOB' DOPO LE MODIFICHE
              DOB
0         Unknown
1         Unknown
2      2017-05-27
3      2016-01-30
4      2022-11-12
...           ...
51976  2012-04-21
51977  2014-07-17
51978  2015-05-17
51979  2012-05-17
51980  2010-05-13

[51981 rows x 1 columns]

# Sostituzione dei valori NULL con il valore Unknown nella colonna Reason for Intake dato che si tratta di una stringa

In [226]:
print("COLONNA 'REASON FOR INTAKE' ORIGINALE")
print(df[['Reason for Intake']])
print("-" * 30)

df['Reason for Intake'] = df['Reason for Intake'].fillna('Unknown')

print("\nCOLONNA 'REASON FOR INTAKE' DOPO LE MODIFICHE")
print(df[['Reason for Intake']])

COLONNA 'REASON FOR INTAKE' ORIGINALE
      Reason for Intake
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
...                 ...
51976               NaN
51977               NaN
51978               NaN
51979               NaN
51980               NaN

[51981 rows x 1 columns]
------------------------------

COLONNA 'REASON FOR INTAKE' DOPO LE MODIFICHE
      Reason for Intake
0               Unknown
1               Unknown
2               Unknown
3               Unknown
4               Unknown
...                 ...
51976           Unknown
51977           Unknown
51978           Unknown
51979           Unknown
51980           Unknown

[51981 rows x 1 columns]

# Controllo se nelle colonne latitude, longitude e geopoint sono presenti valori Null o 0
Questo controllo viene effettuato poichè sarebbe inutile non possedere le coordinate geografiche di dove è stato trovato o di dove proviene l'animale

In [227]:
cols_to_check = ['latitude', 'longitude', 'geopoint']

print(f"### Controllo anomalie (Null o 0) in: {cols_to_check} ###\n")

check_null = df[cols_to_check].isnull()

check_zero = df[cols_to_check] == 0

mask = check_null | check_zero


problematic_rows = df[mask.any(axis=1)]

if not problematic_rows.empty:
    print(f"Trovate {len(problematic_rows)} righe con valori Null o Zero:")


    print(problematic_rows[cols_to_check])
else:
    print("Nessun valore Null o Zero trovato nelle colonne specificate.")

### Controllo anomalie (Null o 0) in: ['latitude', 'longitude', 'geopoint'] ###

Nessun valore Null o Zero trovato nelle colonne specificate.

# Sostituzione dei valori NULL con il valore Unknown per la colonna Outcome Subtype dato che si tratta di una stringa

In [228]:
print("COLONNA 'OUTCOME SUBTYPE' ORIGINALE")
print(df[['Outcome Subtype']])
print("-" * 30)

df['Outcome Subtype'] = df['Outcome Subtype'].fillna('Unknown')

print("\nCOLONNA 'OUTCOME SUBTYPE' DOPO LE MODIFICHE")
print(df[['Outcome Subtype']])

COLONNA 'OUTCOME SUBTYPE' ORIGINALE
      Outcome Subtype
0          INJ SEVERE
1          SC REPTILE
2          PFE/PAWSHP
3              SPCALA
4                 NaN
...               ...
51976          SPCALA
51977          SPCALA
51978      SC REPTILE
51979             WEB
51980       MICROCHIP

[51981 rows x 1 columns]
------------------------------

COLONNA 'OUTCOME SUBTYPE' DOPO LE MODIFICHE
      Outcome Subtype
0          INJ SEVERE
1          SC REPTILE
2          PFE/PAWSHP
3              SPCALA
4             Unknown
...               ...
51976          SPCALA
51977          SPCALA
51978      SC REPTILE
51979             WEB
51980       MICROCHIP

[51981 rows x 1 columns]

# Sostituzione dei valori NULL con il valore Unknown per la colonna Secondary Color dato che si tratta di una stringa

In [229]:
print("COLONNA 'SECONDARY COLOR' ORIGINALE")
print(df[['Secondary Color']])
print("-" * 30)

df['Secondary Color'] = df['Secondary Color'].fillna('Unknown')

print("\nCOLONNA 'SECONDARY COLOR' DOPO LE MODIFICHE")
print(df[['Secondary Color']])

COLONNA 'SECONDARY COLOR' ORIGINALE
      Secondary Color
0                 RED
1                 NaN
2                 NaN
3                 NaN
4               BROWN
...               ...
51976             NaN
51977             NaN
51978             NaN
51979           WHITE
51980           WHITE

[51981 rows x 1 columns]
------------------------------

COLONNA 'SECONDARY COLOR' DOPO LE MODIFICHE
      Secondary Color
0                 RED
1             Unknown
2             Unknown
3             Unknown
4               BROWN
...               ...
51976         Unknown
51977         Unknown
51978         Unknown
51979           WHITE
51980           WHITE

[51981 rows x 1 columns]

# Rimozione del punto iniziale dai valori delle colonne "outcome_is_dead", "outcome_is_other", "outcome_is_alive"

In [230]:
cols_to_clean = ['outcome_is_dead', 'outcome_is_other', 'outcome_is_alive']

# Rimuove qualsiasi carattere non alfanumerico iniziale
pattern = r'^[^\w\d]+'

for col in cols_to_clean:
    if col in df.columns:
        df[col] = df[col].fillna('').astype(str).str.replace(pattern, '', regex=True).str.strip()

print(df[cols_to_clean])

      outcome_is_dead outcome_is_other outcome_is_alive
0                True            False            False
1               False            False             True
2               False            False             True
3               False            False             True
4               False            False             True
...               ...              ...              ...
51976           False            False             True
51977           False            False             True
51978           False            False             True
51979           False            False             True
51980           False            False             True

[51981 rows x 3 columns]

# Sostituzione dei valori NULL con il valore Unknown per la colonna "Reason for Intake" dato che si tratta di una stringa

In [231]:
# Rinomina la colonna per togliere gli spazi
df = df.rename(columns={'Reason for Intake': 'reason_for_Intake'})

col_name = 'reason_for_Intake'  # Assicurati che il nome corrisponda a quello nel tuo DF

if col_name in df.columns:
    # 1. Sostituisce i valori vuoti (NaN) con "Unknown"
    df[col_name] = df[col_name].fillna('Unknown')

    # 2. Sostituisce l'eventuale stringa di testo "NULL" con "Unknown"
    # (Utile se il CSV conteneva la parola scritta invece che una cella vuota)
    df[col_name] = df[col_name].replace('NULL', 'Unknown')

    # 3. Restituisce e stampa il tipo della variabile
    tipo_variabile = df[col_name].dtype
    print(f"Tipo della variabile '{col_name}': {tipo_variabile}")

    # Verifica visiva dei primi valori
    print("Stampa della colonna dopo la modifica: \n", df[col_name])
else:
    print(f"Colonna '{col_name}' non trovata.")

# Ora puoi accedere con il nome che preferivi
print(df['reason_for_Intake'].dtype)

Tipo della variabile 'reason_for_Intake': object
Stampa della colonna dopo la modifica:
 0        Unknown
1        Unknown
2        Unknown
3        Unknown
4        Unknown
          ...
51976    Unknown
51977    Unknown
51978    Unknown
51979    Unknown
51980    Unknown
Name: reason_for_Intake, Length: 51981, dtype: object
object