# Importo le librerie necessarie

In [11]:
import pandas as pd

# Controllo la locazione del dataset per verificarne la correttezza

In [12]:
df = pd.read_csv("../dataset/strade_orange_city.csv", encoding='latin-1')

# (Opzionale) Visualizza le informazioni iniziali per vedere quanti null ci sono
print("Info dataset originale:")
print(df.info())

Info dataset originale:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233994 entries, 0 to 233993
Data columns (total 11 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   fid       233994 non-null  int64
 1   osm_id    233994 non-null  int64
 2   code      233994 non-null  int64
 3   fclass    233994 non-null  object
 4   name      97300 non-null   object
 5   ref       5143 non-null    object
 6   oneway    233994 non-null  object
 7   maxspeed  233994 non-null  int64
 8   layer     233994 non-null  int64
 9   bridge    233994 non-null  object
 10  tunnel    233994 non-null  object
dtypes: int64(5), object(6)
memory usage: 19.6+ MB
None

# Eliminazione delle strade che presentano il valore del campo "name" uguale a null

Effettuo questa modifica poichè su qgis, è stata effettuata una categorizzazione delle strade e sono state eliminate alcune strade poichè non erano fondamentali ai fini della nostra analisi

In [13]:
# 2. Eliminazione delle righe con valore 'name' nullo
df_cleaned = df.dropna(subset=['name'])

# Verifica ulteriore per assicurarsi che la pulizia sia stata effettuata correttamente

In [14]:
print("\nInfo dataset pulito:")
print(df_cleaned.info())

Info dataset pulito:
<class 'pandas.core.frame.DataFrame'>
Index: 97300 entries, 1 to 233965
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fid       97300 non-null  int64
 1   osm_id    97300 non-null  int64
 2   code      97300 non-null  int64
 3   fclass    97300 non-null  object
 4   name      97300 non-null  object
 5   ref       5011 non-null   object
 6   oneway    97300 non-null  object
 7   maxspeed  97300 non-null  int64
 8   layer     97300 non-null  int64
 9   bridge    97300 non-null  object
 10  tunnel    97300 non-null  object
dtypes: int64(5), object(6)
memory usage: 8.9+ MB
None

# Salvataggio del dataset pulito in un nuovo file CSV

In [15]:
output_filename = '../dataset/strade_orange_city_cleaned.csv'
df_cleaned.to_csv(output_filename, index=False)

print(f"\nFile salvato come: {output_filename}")

File salvato come: ../dataset/strade_orange_city_cleaned.csv